<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/base-min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
          integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" id="coustard-css"
          href="//fonts.googleapis.com/css?family=Coustard&amp;subset=latin&amp;ver=6.3.3" type="text/css" media="all">
    <link rel="stylesheet" id="lora-css"
          href="//fonts.googleapis.com/css?family=Lora%3A400%2C700%2C400italic%2C700italic&amp;subset=latin&amp;ver=6.3.3"
          type="text/css" media="all">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
</head>
<body>
<header id="header">
    <h1>Agilogy Time Tracker</h1>
</header>
<main id="main" class="content">
    {{#block "content"}}
    {{/block}}
</main>
</body>
</html>