{{#partial "content" }}
    <menu>
        <li><a href="uploadTimeEntries">Upload time sheet</a></li>
        <li><a href="listTimeEntries">List time entries</a></li>
        <li><a href="#">Admin report</a></li>
    </menu>
{{/partial}}
{{> views/base title="Agilogy Time Tracker"}}