{{#partial "content" }}
    <div class="collection">
        <a class="collection-item" href="uploadTimeEntries">Upload time sheet</a>
        <a class="collection-item" href="listTimeEntries">List time entries</a>
        <a class="collection-item" href="#">Admin report</a>
    </div>
{{/partial}}
{{> views/base title="Agilogy Time Tracker"}}