{{#partial "content" }}
    <ul>
        <li><a href="uploadTimeEntries">Upload time sheet</a></li>
        <li><a href="listTimeEntries">List time entries</a></li>
        <li><a href="#">Admin report</a></li>
    </ul>
{{/partial}}
{{> views/base title="Agilogy Time Tracker"}}