{{#partial "content" }}
    <menu>
        <li>You can <a href="uploadTimeEntries">Upload time sheet</a>...</li>
        <li>... or <a href="listTimeEntries">List time entries</a>.</li>
        <li>You can also go to the <a href="#">Admin report</a>.</li>
    </menu>
{{/partial}}
{{> views/base title="Agilogy Time Tracker"}}