<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/base-min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
          integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="stylesheet" id="coustard-css"
          href="//fonts.googleapis.com/css?family=Coustard&amp;subset=latin&amp;ver=6.3.3" type="text/css" media="all">
    <link rel="stylesheet" id="lora-css"
          href="//fonts.googleapis.com/css?family=Lora%3A400%2C700%2C400italic%2C700italic&amp;subset=latin&amp;ver=6.3.3"
          type="text/css" media="all">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../web/css/style.css">
    <title>Test</title>
    <style>

    </style>
</head>
<body>
<header id="header">
    <h1>Agilogy Time Tracker</h1>
</header>
<section id="main" class="content">
    <h2>Test</h2>
    <h3>Third title</h3>
    <ul>
        <li>First item</li>
        <li>Second item</li>
        <li>Third item</li>
    </ul>
    <h2>New time entry</h2>
    <form>
        <p>
        <div class="width-2-8">
            <label for="employee">Employee</label>
            <input type="text" id="employee" name="employee">
        </div>
        </p>
        <p>
            <label for="timeEntries">Time Entries File</label>
            <input type="file" id="timeEntries" name="timeEntries">
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
    <h4>Fourth one</h4>
    <table class="centered">
        <thead>
        <tr>
            <th>Developer</th>
            <th>Project</th>
            <th>Date</th>
            <th>Start</th>
            <th>Duration</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>Jordi</td>
            <td>Foundation</td>
            <td>2021-01-01</td>
            <td>11:00</td>
            <td>1:00</td>
        </tr>

        <tr>
            <td>Jordi</td>
            <td>Foundation</td>
            <td>2021-01-01</td>
            <td>11:00</td>
            <td>1:00</td>
        </tr>

        <tr>
            <td>Jordi</td>
            <td>Lifull Connect</td>
            <td>2024-01-08</td>
            <td>09:10</td>
            <td>5:00</td>
        </tr>

        <tr>
            <td>Jordi</td>
            <td>Lifull Connect</td>
            <td>2024-01-08</td>
            <td>15:01</td>
            <td>2:36</td>
        </tr>

        <tr>
            <td>Jordi</td>
            <td>Lifull Connect</td>
            <td>2024-01-09</td>
            <td>08:53</td>
            <td>5:21</td>
        </tr>

        <tr>
            <td>Jordi</td>
            <td>Lifull Connect</td>
            <td>2024-01-09</td>
            <td>15:11</td>
            <td>1:01</td>
        </tr>

        <tr>
            <td>Jordi</td>
            <td>Lifull Connect</td>
            <td>2024-01-09</td>
            <td>22:32</td>
            <td>1:03</td>
        </tr>

        <tr>
            <td>Jordi</td>
            <td>Lifull Connect</td>
            <td>2024-01-10</td>
            <td>09:43</td>
            <td>3:58</td>
        </tr>

        <tr>
            <td>Jordi</td>
            <td>Lifull Connect</td>
            <td>2024-01-10</td>
            <td>14:34</td>
            <td>1:35</td>
        </tr>

        <tr>
            <td>Jordi</td>
            <td>Lifull Connect</td>
            <td>2024-01-11</td>
            <td>09:03</td>
            <td>4:52</td>
        </tr>

        <tr>
            <td>Jordi</td>
            <td>Lifull Connect</td>
            <td>2024-01-11</td>
            <td>15:04</td>
            <td>2:16</td>
        </tr>

        <tr>
            <td>Jordi</td>
            <td>Agilogy</td>
            <td>2024-01-12</td>
            <td>07:51</td>
            <td>6:17</td>
        </tr>

        <tr>
            <td>Jordi</td>
            <td>Agilogy</td>
            <td>2024-01-12</td>
            <td>14:54</td>
            <td>2:13</td>
        </tr>

        <tr>
            <td>Jordi</td>
            <td>Lifull Connect</td>
            <td>2024-01-15</td>
            <td>09:18</td>
            <td>4:54</td>
        </tr>

        <tr>
            <td>Jordi</td>
            <td>Lifull Connect</td>
            <td>2024-01-16</td>
            <td>09:12</td>
            <td>4:47</td>
        </tr>

        <tr>
            <td>Jordi</td>
            <td>Lifull Connect</td>
            <td>2024-01-16</td>
            <td>15:17</td>
            <td>0:55</td>
        </tr>

        <tr>
            <td>Jordi</td>
            <td>Lifull Connect</td>
            <td>2024-01-17</td>
            <td>09:16</td>
            <td>3:59</td>
        </tr>

        <tr>
            <td>Jordi</td>
            <td>Lifull Connect</td>
            <td>2024-01-17</td>
            <td>14:30</td>
            <td>1:41</td>
        </tr>

        <tr>
            <td>Jordi</td>
            <td>Lifull Connect</td>
            <td>2024-01-18</td>
            <td>08:58</td>
            <td>5:04</td>
        </tr>

        </tbody>
    </table>
</section>
</body>
</html>