{{#partial "content" }}
    <form class="col s12" action="uploadTimeEntries" method="POST" enctype="multipart/form-data">
        <p class="pure-g">
        <span class="pure-u-1-2">
            <label for="employeeId">Employee</label>
            <select id="employeeId" name="employeeId" class="validate">
                <option value="Jordi" selected>Jordi</option>
                <option value="Jose">Jose</option>
                <option value="Victor">Victor</option>
            </select>
        </span>
        <span class="pure-u-1-2">
            <label for="week">Week</label>
            <input type="week" name="week" class="validate" value="{{week}}">
        </span>
        </p>
        <p>
            <label for="timeEntries" class="active">Time Entries</label>
            <input type="file" name="timeEntries" class="validate {{#if error}}invalid{{/if}}">
        </p>
        {{#if error}}<p class="error">{{error}}</p>{{/if}}
        <p>
            <button type="submit" name="action">Submit</button>
        </p>
    </form>
{{/partial}}
{{> views/base title="Agilogy Time Tracker"}}