{{#partial "content" }}
    <form action="uploadTimeEntries" method="POST" enctype="multipart/form-data">>
        <label for="timeEntries">Time entries:</label>
        <input type="file" id="timeEntries" name="timeEntries">
        <input type="submit" value="Submit">
    </form>
{{/partial}}
{{> views/base title="Agilogy Time Tracker"}}