{{#partial "content" }}
    <!-- TODO: Try to generalize client side validation with https://developer.mozilla.org/en-US/docs/Learn/Forms/Form_validation -->
    <form novalidate class="col s12" action="uploadTimeEntries" method="POST" enctype="multipart/form-data">
        <fieldset class="pure-g">
            {{> views/select
                    required="true"
                    label="Employee"
                    labelClass="pure-u-1-2"
                    name="employeeId"
                    selectLabel="Select an employee"
                    values="employees"
                    valueAttr="id"
                    labelAttr="label"
            }}
            <label class="pure-u-1-2">
                Office
                {{#offices}} {{> views/radio name="office" value=id label=label }} {{/offices}}
            </label>
        </fieldset>
        <label for="timeEntries">
            Time Entries
            <input required accept="text/csv" type="file" name="timeEntries">
            {{#if errors.timeEntries}}<small class="error">{{errors.timeEntries}}</small>{{/if}}
        </label>
        <fieldset>
            <button type="submit" name="action">Submit</button>
        </fieldset>
    </form>
    <script>
        prepareForms();
    </script>
{{/partial}}
{{> views/base title="Agilogy Time Tracker"}}